.contactContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.contactContainer a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
  transition: color var(--transition-speed);
}

.contactContainer a:hover {
  color: var(--primary-color);
}

.contactContainer ion-icon {
  font-size: 2rem;
  color: inherit;
}