.projectCard {
  height: 100%;
  transition: transform var(--transition-speed);
}

.cardLink {
  text-decoration: none;
  color: inherit;
  display: block;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  background: var(--bg-color-2);
  background-image: linear-gradient(180deg, var(--bg-color-2), var(--bg-color));
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  padding: 1.2rem;
  height: 100%;
  transition: box-shadow var(--transition-speed);
}

.projectCard h3 {
  transition: color var(--transition-speed);
}

.projectCard:hover {
  transform: translateY(-8px);
}

.projectCard:hover .card {
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
}

.projectCard:hover h3 {
  color: var(--primary-color);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
  border: 3px solid var(--primary-color);
}

.cardContent {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cardContent h3 {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 1rem 0 0rem;
}

.excerpt {
  font-size: 0.85rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  flex-grow: 1;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.tag {
  background-color: var(--primary-color);
  color: var(--primary-text-on-button);
  padding: 0.2rem 0.6rem;
  border-radius: 30px;
  font-size: 0.75rem;
  font-family: "Archivo", sans-serif;
}

.readMore {
  margin-top: auto;
  padding: 0.5rem;
  font-size: 0.85rem;
  font-weight: 600;
  color: var(--primary-color);
  align-self: flex-start;
}

.noLinkCard {
  height: 100%;
  cursor: default;
}

.externalLinks {
  display: flex;
  gap: 0.8rem;
  margin-top: auto;
}

.externalLinks a {
  flex: 1;
  text-align: center;
  text-decoration: none;
  font-size: 0.85rem;
  font-weight: 500;
  padding: 0.5rem;
  border-radius: 8px;
  background-color: var(--primary-color);
  color: var(--primary-text-on-button) !important;
  transition: background-color var(--transition-speed);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.externalLinks a:hover {
  background-color: var(--primary-hover);
}

.noLinkCard:hover h3 {
  color: var(--text-color);
}