.hero {
  height: 80vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.hero h2 {
  font-size: 2.5rem;
}

.hero span {
  color: var(--primary-color);
}