.wrapper {
    margin-bottom: 2rem;
}

.wrapper h2 {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    font-family: "Archivo", sans-serif;
}