.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  margin: 0 auto;
  width: 100%;
  padding: 1rem;
  position: relative;
  z-index: 100;
}

.logo {
  font-weight: 600;
  text-decoration: none;
  color: var(--text-color);
  transition: color var(--transition-speed);
}

.logo:hover {
  color: var(--primary-color);
}

.actions {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

@media (max-width: 768px) {
  .actions {
    gap: 1rem;
  }
}