.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 250px); 
    gap: 2rem;
}

.filters {
    margin-bottom: 2rem;
}

.filters button {
    min-width: 80px;
    text-align: center;
    padding: 0.5rem 0.7rem;
    background-color: var(--primary-color);
    color: var(--text-color);
    text-decoration: none;
    border-radius: 25px;
    font-size: 0.9rem;
    margin: 0 auto;
    border: none;
    position: relative;
    bottom: 0;
    margin-top: auto;
    transition: 0.3s;
    font-family: "Lora", serif;
}

.filters button:first-of-type {
    margin-right: 1rem;
}

.filters button:hover {
    cursor: pointer;
    background-color: var(--primary-hover);
}