.container {
    display: flex;
    justify-content: center;
}

.badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  flex: 0 0 auto;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-bottom: 0.5rem;
}

.label {
  font-size: 0.8rem;
  color: var(--text-color);
}

@keyframes pingpong {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(-100% + 100vw));
  }
}