.themeToggle {
  background-color: var(--text-color);
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: var(--transition-speed);
  z-index: 1002;
  -webkit-appearance: none;
  appearance: none;
}

.themeToggle:hover {
  background-color: var(--primary-color);
}

.icon {
  font-size: 1.1rem;
  color: var(--bg-color);
  display: block;
  pointer-events: none;
}