.themetogglecontainer {
  display: inline-block;
  padding-left: 1rem;
  font-size: 1rem;
}

.themetoggle {
  background-color: var(--text-color);
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-align: bottom;
  cursor: pointer;
  transition: 0.3s;
}

.themetoggle:hover {
  background-color: var(--primary-color);
}

/* ICONS */
.themetoggle ion-icon {
  font-size: 1.1rem;
  color: var(--bg-color);
  transition: 0.3s;
}