@import url('https://fonts.googleapis.com/css2?family=Archivo:wdth,wght@62.5..125,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
  --bg-color: #fafafa;
  --bg-color-2: #fff;
  --text-color: #222222;
  --primary-color: #89a7e0;
  --primary-hover: #6b8fcf; 
  --code-bg: #f4f4f4;
}

body {
  margin: 0 auto;
  background-color: var(--bg-color);
  font-family: "Lora", serif;
  color: var(--text-color);
  transition: 0.3s;
}

.dark-mode {
  --bg-color: #222222;
  --bg-color-2: #111;
  --text-color: #fafafa;
  --primary-color: #89a7e0;
  --primary-hover: #a5bdec; 
  --code-bg: #2e2e2e;
}