.backToTop {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 2000;
}

.button {
  background-color: var(--text-color);
  color: var(--bg-color);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition-speed);
  -webkit-appearance: none;
  appearance: none;
}

.button:hover {
  background-color: var(--primary-hover);
}

.icon {
  font-size: 1.1rem;
  color: var(--bg-color);
  transition: 0.3s;
  display: block;
  pointer-events: none;
}

@media (max-width: 480px) {
  .backToTop {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}
