.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

.wrapper p {
    font-weight: bold;
}

.wrapper a {
    font-weight: normal;
    text-decoration: none;
    color: var(--primary-color);
}